body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.container {
    border-radius: 1em;
    border-left: 0.5em solid #0d6efd;
    background-color: white;
}

.container h1 {
    color: #0d6efd;
    font-size: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    box-shadow: inset 0 0 20px 20px transparent;
}

.form-control {
    
    border: 0.05em solid black;
}

.form-control:focus {
    box-shadow: none;
    border: 0.05em solid #0d6efd;
}

.form-control::placeholder {
    color: rgb(184, 178, 178);
}

.alert {
    margin: 0;
    margin-top: 1em;
    max-height: 2em;
    display: flex;
    justify-content: left;
    align-items: center;
}